 <div class="container">
        <div class="jumbotron mt-3 text-center mb-0">
            <h1>Eat A Burger?</h1>
            <form class="create-form">
              <div class="form-group">
                <label for="burger">burgername:</label>
                <input type="text" id="burger-input" name="name">
              </div>
              <button type="submit">Add a Burger</button>
            </form>
            <div class="row mt-3 pt-3 border-top border-dark">
                <div class="col-6">
                    <div class="card bg-success p-1">
                      <p>Added Burgers</p>
                      {{#each burger}}
                        {{#unless devoured}}
                          <div class="card mb-3 p-1">
                            <span><i>{{burger_name}}</i></span>
                            <span><button class="change-devoured btn-success" data-id="{{id}}" data-buttondevoured="{{devoured}}">
                              {{#if devoured}}Put Back!{{else}}EAT!{{/if}}
                            </button></span>
                          </div>
                        {{/unless}}
                      {{/each}}
                    </div>
                </div>
                <div class="col-6">
                    <div class="card bg-danger p-1">
                        <p>Consumed Burgers</p>
                        {{#each burger}}
                          {{#if this.devoured}}
                            <div class="card mb-3 p-1">
                              <span><i>{{burger_name}}</i></span>
                              <span><button class="change-devoured" data-id="{{id}}" data-buttondevoured="{{devoured}}">
                                {{#if devoured}}Put Back{{else}}EAT!{{/if}}
                              </button></span>
                            </div>    
                          {{/if}}
                        {{/each}}                       
                    </div>
                </div>
            </div>
    </div>
        <a href="https://github.com/SunshineDaydeam/Burger-App" class="mt-0 pt-0">Github Repo</a>

